.main-nav__drawer {
  min-width: 250px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
}

.main-nav__drawer-menu {
  text-align: center;
}

.main-nav__drawer-link {
  line-height: 40px;
  text-decoration: none;
}
